body {
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 25px;
  max-width: 1920px;
}
a {
  text-decoration: none;
  color: inherit;
}
.yellow_headline {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 133.6%;
  color: #fbb400;
}
.blue_headline {
  font-family: "Catamaran";
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
  color: #163561;
}
