.block5 {
  display: flex;
  flex-direction: column;
}
.block5__main {
  margin-top: 80px;
  align-self: center;
}
.block5__text1 {
  margin-top: 37px;
  align-self: center;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}
.block5__item1 {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 251px;
}
.block5_image1 {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  background: #99baed;
  border: 0px solid #000000;
}
.block5_image2 {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  background: #d3e5ff;
}
.block5_image3 {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  background: #d3e5ff;
}
.block5_vectors {
  margin-top: -400px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
