.block3 {
  width: 100%;
}
.block3__word {
  margin-left: 40%;
  width: 100%;
  max-width: 390px;
  text-align: center;
}
.block3__items {
  margin-top: 85px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.block3__item1 {
  width: 450px;
  height: 540px;
  background: #99baed;
  border-radius: 29px;
}
.block3__item2 {
  width: 450px;
  height: 540px;
  background: #fafbff;
  box-shadow: 0px 5px 0px #99baed;
  border-radius: 29px;
}
.block3__item3 {
  width: 450px;
  height: 540px;
  background: #fafbff;
  box-shadow: 0px 5px 0px #99baed;
  border-radius: 29px;
}
.block3__image1 {
  position: absolute;
  margin-left: 9.5%;
  margin-top: 103px;
}
.block3__image11 {
  position: relative;
  margin-left: 45%;
  margin-top: 135px;
}

.block3__text1 {
  margin-top: 90px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 116.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.block3__text2 {
  margin-top: 60px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.65;
}
.block3__image2 {
  margin-left: 45%;
  margin-top: 80px;
}
.block3__image22 {
  position: absolute;
  margin-left: -98px;
  margin-top: 90px;
}
.block3__text3 {
  margin-top: 90px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 116.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
}
.block3__text4 {
  margin-top: 60px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}
.block3__image3 {
  margin-left: 45%;
  margin-top: 80px;
}
.block3__image33 {
  position: absolute;
  margin-left: -82px;
  margin-top: 110px;
}
.block3__text5 {
  margin-top: 90px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 116.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
}
.block3__text6 {
  margin-top: 60px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}
.block3_vectors {
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
