.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__scissors {
  margin-left: 170px;
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;

  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 133.6%;
  /* or 33px */
  margin-right: 500px;

  color: #163561;
}
#active_page {
  background: #a3c1ef;
  border-radius: 5px;
  color: #ffffff;
}
.header__item {
  margin-right: 213px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}
.header__profile {
  width: 178px;
  height: 76px;
  background: #99baed;
  border-radius: 20px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
}
