.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__scissors {
  margin-left: 170px;
}
.header__items {
  width: 93px;
  min-height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;

  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 133.6%;
  /* or 33px */
  margin-right: 600px;

  color: #163561;
}
ul > li:nth-child(1) {
  background: #a3c1ef;
  border-radius: 5px;
  color: #ffffff;
  margin-top: -50px;
  height: 80px;
  width: 100px;
}
#active_page {
  height: 100px;
  display: inline-block;
  margin-top: 55px;
}

.header__item {
  margin-right: 213px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}
.header__profile {
  width: 178px;
  height: 76px;
  background: #99baed;
  border-radius: 20px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
}
